root - nofile  {{security_limit_params.open_files}}
root - memlock {{security_limit_params.memory_lock}}
{{system_user}} - nofile  {{security_limit_params.open_files}}
{{system_user}} - memlock {{security_limit_params.memory_lock}}
