root - nofile  {{security_limit_params.nofile}}
root - memlock {{security_limit_params.memlock}}
{{system_user}} - nofile  {{security_limit_params.nofile}}
{{system_user}} - memlock {{security_limit_params.memlock}}
