# Configure App.
- name: Configure App
  ansible.builtin.template:
    src: app.conf.j2
    dest: "{{conf_dir}}/app.conf"
    owner: root
    group: root
    mode: 0600
  vars:
    conf_dir: "{{app.source_dir}}/config"
    environment: "{{app.environment}}"
    external_domain: "{{app.external_domain}}"
  tags:
    - configure

# Configure Supervisor for App.
- name: configure supervisor for app
  ansible.builtin.template:
    src: supervisor.ini.j2
    dest: "{{init_conf_path}}"
    owner: root
    group: root
    mode: 0600
  vars:
    init_conf_path: "{{app.system_dir}}/supervisor.ini"
    source_dir: "{{app.source_dir}}"
    log_dir: "{{app.log_dir}}"
  tags:
    - configure

# Symlink Supervisor configuration.
- name: Symlink Supervisor configuration
  ansible.builtin.command: "ln -sf {{init_conf_path}} {{supervisor_conf_dir}}/app.ini"
  vars:
    init_conf_path: "{{app.system_dir}}/supervisor.ini"
    supervisor_conf_dir: "/etc/supervisord.d"
  tags:
    - configure
