# Install Python.
- name: Install Python
  ansible.builtin.yum:
    name:
      - python-2.7.18
      - python-devel
      - python-pip
      - python-setuptools
    state: present
  register: status
  failed_when:
    - status.rc != 1
  tags:
    - setup

# Create App directories.
- name: Create App directories
  ansible.builtin.file:
    path: "{{item}}"
    state: directory
    owner: root
    group: root
    recurse: true
    mode: 0700
  loop:
    - "{{app.root_dir}}"
    - "{{app.source_dir}}"
    - "{{app.log_dir}}"
    - "{{app.script_dir}}"
    - "{{app.system_dir}}"
  tags:
    - setup
